* {
    box-sizing: border-box;
}

header {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
    font-size: x-large;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

main {
    border: 2px solid blue;
    height: 40%;
    background-color: skyblue;
    position: relative;
}
/* @font-face {
    font-family: myFirstFont;
    src: url(newake-regulat.woff);
} */

footer {
    border: 2px solid pink;
}

.question {
    border: 2px solid red;
    height: 400px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: lightpink;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    border: 2px solid yellow;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: x-large;
}

h1 {
    border: 2px solid green;
}

.status {
    border: 2px solid purple;
    font-size: 20px;

}

body {
    display: flex;
    flex-direction: column;
    padding: 60px;
    height: 100%;
}

#next {
    display: flex;
    width: 70px;
    font-size: large;
    align-items: center;
    justify-content: center;
    float: right;
    padding: 5px;
}